html{
	font-size: 100%;
}
*{
	outline: none;
	-webkit-box-sizing:border-box;
	margin: 0%;
	padding: 0%;
}

a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-top: -30px;
}

li{
	margin: 10px;
}

ul{
	list-style: none;
}

body{
	background: url(images/background.jpg) no-repeat center fixed;
	background-size: cover;
}

@media (max-width:  3000px){
	.header{
	background-color: rgb(222, 202, 177);
	height: 100px;
	width: 100%;
	margin: 0%;
	font-family: Trebuchet MS, sans-serif;
	font-style: italic;
	font-size: 20px;
	}
	#title{
		text-align: center;
		padding-top: 25px;
	}
	.socialMedia{
		text-align: right;
		margin-top: -55px;
	}
	.link{
		position: absolute;
		top: 30px;
	}

	.presentation{
		height: 260px;
		width:  100%;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 200px;
		border-radius: 5%;
	}
	.presentationText{
		margin-top: -240px;
		margin-left: 400px;
		font-size: 1.7vw;
		font-family: Georgia, serif;
		text-align: justify;
		padding: 10px;
	}
	#portrait{
		border-radius: 5%;
	}
	.services{
		height:  500px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 200px;
		border-radius: 5%;
	}
	#serviceTitle{
		font-size: 3vw;
		text-align: center;
		padding-top: 30px;
		font-family: Trebuchet MS, sans-serif;
	}
	.servicesText{
		font-size: 2vw;
		text-align: justify;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 70px;
	}
	.prices{
		height: 250px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 150px;
		border-radius: 5%;
	}
	#pricesTitle{
		font-size: 3vw;
		text-align: center;
		padding-top: 30px;
		font-family: Trebuchet MS, sans-serif;
	}
	.cost{
		display: inline;
		margin: 70px;
	}
	.pricesText{
		font-size: 2vw;
		text-align: center;
		margin-top: 40px;
	}
	.contact{
		height: 220px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 200px;
		border-radius: 5%;
	}
	#contactTitle{
		font-size: 3vw;
		text-align: center;
		padding-top: 30px;
		font-family: Trebuchet MS, sans-serif;
	}
	.phoneNumber{
		display: inline;
		font-size: 2vw;
		margin: 70px;
	}
	.contactList{
		text-align: center;
		margin-top: 40px;
	}

}

@media (max-width:  1050px){
	body{
		background: url(images/backgroundphone.jpg) no-repeat center fixed;
		background-size: cover;
	}
	.header{
		background-color: #D9FFA3;
	}
	.presentationText{
		font-size: 2vw;
		margin-left: 400px;
	}
	.services{
		height: 400px;
	}
	#serviceTitle{
		font-size: 5vw;
	}
	.servicesText{
		font-size: 3vw;
	}
	.prices{
		height: 300px;
	}
	#pricesTitle{
		font-size: 5vw;
	}
	.pricesText{
		font-size: 4vw;
	}
	.cost{
		display: inherit;
		margin: 10px;
	}
	#contactTitle{
		font-size: 5vw;
	}
	.phoneNumber{
		font-size: 4vw;
		display: inline;
		margin: 5px;
	}
}

@media (max-width: 700px){
	body{
		background: url(images/backgroundphone.jpg) no-repeat center fixed;
		background-size: cover;
	}
	#title{
		font-size: 150%;
	}
	#link{
		font-size: 80%;
	}
	.header{
		height: 70px;
		width: 100%;
		background-color: #D9FFA3;
	}

	.socialMedia{
		position: initial;
		text-align: right;
		margin-top: 40px;
	}
	.presentation{
		width: 80%;
		height: 30%;
		left: 14%;
		top: 30%;
		margin-left: 35px;
	}
	.presentationText{
		margin-left: 10px;
		margin-top: 0px;
		font-size: 4vw;
	}
	#portrait{
		width: 100%;
	}
	.services{
		width: 80%;
		margin-left: 35px;
		margin-top: 30%;
	}
	.servicesText{
		font-size: 4vw;
	}
	.prices{
		width: 80%;
		margin-left: 35px;
		margin-top: 30%;
	}
	.pricesText{
		font-size: 6vw;
	}

	.contact{
		width: 80%;
		margin-top: 30%;
		margin-left: 30px;
	}
	.contactImages{
		width: 40px;
	}
	.phoneNumber{
		font-size: 6vw;
	}
}

